.line-chart {
  position: relative;
  width: 100%;
  height: 100%;
  .chartNameTitle {
    position: absolute;
    height: 20px;
    top: 0;
    right: 0px;
    .chartRadius {
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
    .chartMsg {
        // width: up19pxTovw(49);
        // @include ellipsis;
        font-family: PingFangSC-Regular;
        // font-size: 12px!important;
        color: #FFFFFFCC;
        // color: red;
        // line-height: 20px;
        margin-left: 0px;
    }
    .mr8 {
      margin-right: 20px;
    }
    .mr10 {
      margin-right: 20px;
    }
  }
}

// 1440和1140之间
@media screen and (max-width: 1439px){
  .line-chart {
    .chartMsg {
      margin-left: 0px;
      font-size: 12px!important;
    }
    .mr8 {
      margin-right: 20px!important;
    }
    .mr10 {
      margin-right: 12px!important;
    }
  }
}

// 小于1140px,不再缩放
@media screen and (max-width: 1139px) {
  .line-chart {
    .chartMsg {
      margin-left: 0px;
      font-size: 12px;
    }
    .mr8 {
      margin-right: 15px!important;
    }
    .mr10 {
      margin-right: 8px!important;
    }
  }
}

// 大于1920
@media screen and (min-width: 1920px) {
  .line-chart {
    .chartMsg {
      margin-left: 0px;
      font-size: 12px;
    }
    .mr8 {
      margin-right: 20px!important;
    }
    .mr10 {
      margin-right: 20px!important;
    }
  }
}
